:root {
	--color-1:rgb(255,170,185);
}
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"Lato";
}
html {
	scroll-behavior:smooth;
	user-select:none;
}
body {
	font-family:Verdana, Arial, sans-serif;
	background-color:#212121;
	color:#dadada;
	&.hidden {
		overflow:hidden;
	}
}
img {
	display:block;
	width:100%;
}

svg {
	display:block;
	width:30px;
}

header {
	position:sticky;
	top:0;
	left:0;
	right:0;
	width:100vw;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0.6rem 1rem;
	background:#212121;
	border-bottom:solid 1px #555555;
	z-index:999;
	& .header-title {
		font-size:1.42rem;
		font-weight:bold;
		color:var(--color-1);
	}
	.menu-toggle {/*
		position:absolute;
		right:1rem;
		top:50%;
		translate:0 -50%;*/
		padding:0.2rem;
		border:solid 1.5px #393939;
		border-radius:3px;
		transition:0.3s;
		&:hover {
			& svg {
				stroke:var(--color-1);
			}
		}
		& svg {
			width:27px;
			stroke:#dadada;
			transition:0.3s;
		}
	}
	& .navbar-wrapper {
		position:fixed;
		& .navbar-screen {
			position:fixed;
			top:0;
			right:100vw;
			bottom:0;
			left:0;
			height:100vh;
			background-color:rgba(0,0,0,.5);
			border-left:solid 1px #555555;
			opacity:0;
			z-index:9999;
			transition:right 0s 0.5s, opacity 0.5s;
			&.show {
				right:0;
				opacity:1;
				transition:right 0s, opacity 0.5s;
			}
		}
		& .navbar-block {
			position:fixed;
			top:0;
			right:0;
			bottom:0;
			left:100vw;
			height:100vh;
			background-color:#212121;
			border-left:solid 1px #555555;
			opacity:0;
			z-index:99999;
			transition:0.5s;
			&.show {
				left:30vw;
				opacity:1;
			}
			& .navbar-box {
				display:grid;
				grid-gap:0.4rem;
				padding:0.4rem;
				& .navbar-item {
					& .navbar-item-text {
						font-weight:bold;
						transition:0.3s;
						&:hover {
							color:var(--color-1);
						}
					}
				}
			}
		}
	}
}
/*
rgb(255,170,185)
rgb(245,120,155)
rgb(225,80,135)
rgb(180,50,105)
*/
main {
	display:grid;
	grid-gap:2rem;
	padding:1rem;
	padding-bottom:100em;
	& .title {
		font-size:2rem;
	}
}